--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.2.2+cpu
torchvision==0.17.2+cpu
fastapi==0.110.0
uvicorn==0.27.1
mlflow==2.11.3
dvc==3.51.2
scikit-learn
matplotlib
seaborn
pillow
pytest
python-multipart
